.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Examples/DemoApp/DemoApp.xcodeproj/xcuserdata/
.xcuserstate
PreviewsSupport/PreviewsSupport.xcframework/**/*.private.swiftinterface


Examples/DemoApp/DemoApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/